<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLES -->
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">


    <title>Decathlon | Tienda de deportes</title>
</head>

<body>
    
    <div id="app">
        <header id="header">            
            <nav class="navbar">
                <a href="https://www.decathlon.es/">
                    <img src="/public/assets/images/logo-decathlon.png" alt="Logo" >
                </a>
                <div class="search">Busca producto, deporte...</div>

                <div class="icon-header">
                    <div id="icon-help">
                        <a href="#">AYUDA</a>
                    </div>
                    <div id="icon-store">
                        <a href="#">TIENDA</a>
                    </div>
                    <div id="icon-perfil">
                        <a href="#">MI PERFIL</a>
                    </div>
                </div>

                <div class="cart">
                    <a href="#">
                        <span>Carrito</span>                        
                    </a>
                </div>

            </nav>

            <div id="menu-main">
                <div class="menu-header">
                    <div class="menu-header-tab">DEPORTES</div>
                    <div class="menu-header-tab">MUJER</div>
                    <div class="menu-header-tab">HOMBRE</div>
                    <div class="menu-header-tab">NIÑOS Y BEBÉS</div>
                    <div class="menu-header-tab">EQUIPAMIENTO</div>
                    <div class="menu-header-tab">SALUD Y BIENESTAR</div>
                </div>
                <!-- Añadir menu pós click, empezar con 'hide' -->
            </div>
        </header>

        <main>

        </main>

        <footer>

        </footer>

    </div>    
</body>

</html>