:root {
    --title-color: rgb(57, 57, 57);
    --color-main: #0082C3;
}

#header {
    display: flex;
    flex-direction: column;

    width: 100%;
    top: 0;
    margin-left: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    align-items: center;
    position: relative;
}

.search input {
    padding: 8px 16px;
    min-width: auto;
}

.icon-header {
    display: flex;
    
    
}

#icon-help {
    padding: 20px;
    
}

#icon-store {
    padding: 20px;
}

#icon-perfil {
    padding: 20px;
}