:root {
    --title-color: rgb(57, 57, 57);
    --color-main: #0082C3;
}

#header {
    display: flex;
    flex-direction: column;

    width: 100%;
    top: 0;
    margin-left: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    align-items: center;
    position: relative;
}

/* SEARCH */
.search {
    display: flex;
}

.search input {
    padding: 8px 16px;
    width: 857px;
    min-width: auto;

    font-weight: bold;
    font-style: italic; 

    border: 2px solid var(--color-main);
    border-radius: 6px 0 0 6px;
}

input:focus {
    border: 2px solid var(--color-main);
    outline: 0;
}

.search button {
    /* width: 40px; */
    height: 40px;
    padding: 0px 16px;

    border: none;
    background-color: var(--color-main);
    border-radius: 0 6px 6px 0;
}
.search button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search #icon-search {    
    width: 20px;
}

/* ICON-HEADER */
.icon-header {
    display: flex;   
    
}

/* ICON-HELP */
#icon-help svg {
    width: 25px;
}

#icon-help span {
    margin-top: 5px;
}

/* ICON-STORE */
#icon-store svg {
    width: 25px;
}

#icon-store span {
    margin-top: 5px;
}

/* ICON-PERFIL */
#icon-perfil svg {
    width: 25px;
}

#icon-perfil span {
    margin-top: 5px;
}

/* ICON-CART */
#icon-cart svg {
    width: 25px;
}

#icon-cart span {
    margin-top: 5px;
}

/* MENU MAIN */
#menu-main  .menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    line-height: 20px;
    min-height: 52px;

    padding: 20px 80px;
    font-size: 14px;
    color: var(--title-color);
}