:root {
    --title-color: rgb(57, 57, 57);
    --color-main: #0082C3;
}

#header {
    display: flex;
    flex-direction: column;

    width: 100%;
    top: 0;
    margin-left: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    align-items: center;
    position: relative;
}

/* SEARCH */
.search {
    display: flex;
}

.search input {
    padding: 8px 16px;
    width: 857px;
    min-width: auto;

    font-weight: bold;
    font-style: italic; 

    border: 2px solid var(--color-main);
    border-radius: 4px 0 0 4px;
}

::-webkit-input-placeholder {
    color: var(--title-color);
    opacity: 0.5;
    
 }

.search button {
    width: 40px;
    height: 40px;

    border: none;
    background-color: var(--color-main);
    border-radius: 0 4px 4px 0;
}

/* ICON-HEADER */
.icon-header {
    display: flex;   
    
}

/* ICON-HELP */
#icon-help svg {
    width: 25px;
}

#icon-help span {
    margin-top: 5px;
}

/* ICON-STORE */
#icon-store svg {
    width: 25px;
}

#icon-store span {
    margin-top: 5px;
}

/* ICON-PERFIL */
#icon-perfil svg {
    width: 25px;
}

#icon-perfil span {
    margin-top: 5px;
}

/* ICON-CART */
#icon-cart svg {
    width: 25px;
}

#icon-cart span {
    margin-top: 5px;
}