*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Main styles to Nav */
.navbar a {
    color: var(--title-color);

    font-size: 11px;
    line-height: 10.45px;
    text-decoration: none;
    text-align: center;
/* 
    margin-top: 2px;
    max-height: 24px; */
    /* min-width: 100%; */

    padding-left: 3px;
    padding-right: 3px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left:0.5rem;
    padding-right:0.5rem;
    height: 100%;
}

/* Main styles to placeholder */
::-webkit-input-placeholder {
    color: var(--title-color);
    opacity: 0.3;
    
}